<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            #AGPL-license-svg {
                /* 225 : 76 */
                width: 100%;
                align-items: center;
                justify-content: center;
                outline: 1px solid red; /* 可视化边界 */
                max-height: 100%;
                max-width: 100%;
                row-gap: 0;
                column-gap: 0px;
            }
            #AGPL-license-svg img {
                display: block;
            }
        </style>
    </head>
    <body>
        <div id="AGPL-license-svg">
            <img src="../../../static_resources/license/agpl-license-logos-by-christian-candena-cc-by.svg" alt="AGPL License" />
        </div>
    </body>
</html>